
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    text-align: center;
    z-index: 1000; /* Ensures it stays above other elements */
  }


@font-face { 
    font-display:swap;
    font-family:Macan;
    font-style:normal;
    font-weight:300;
    src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.eot);
    src:local("Macan-Light"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.woff) format("woff");
  } 
  @font-face { 
    font-display:swap;
    font-family:Macan;
    font-style:normal;
    font-weight:400;
    src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.eot);
    src:local("Macan-Regular"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.woff) format("woff");
  } 
  @font-face { 
    font-display:swap;
    font-family:Macan;
    font-style:normal;
    font-weight:600;
    src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.eot);
    src:local("Macan-Semibold"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.woff) format("woff");
  } 
  @font-face { 
    font-display:swap;
    font-family:Macan;
    font-style:normal;
    font-weight:700;
    src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.eot);
    src:local("Macan-Bold"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.woff) format("woff");
  } 
    body {  
      color:#62646a;
      font:400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    }  
  div { 
      border: 0;
  } 
  
  div  { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  body { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  body { 
      background-color: #fff; 
      color: #62646a; 
      font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif; 
      position: relative; 
      width: 100%;
  } 
  
  html { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  html { 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale; 
      height: 100%;
  } 
  
  :root { 
      --_5xced5: 8px; 
      --_1m8lapw: 8px; 
      --_1byk5fl: 16px; 
      --_11kzg63: solid; 
      --_u9qp6v: 1px; 
      --_93jqtq: inline-flex; 
      --_viysix: center; 
      --_1x9qrrf: center; 
      --_m1bvvx: border-box; 
      --_1p6zccl: 600; 
      --_13nofqa: none; 
      --_w3rwa7: nowrap; 
      --_5dap9z: relative; 
      --_1no7twd: pointer; 
      --_ejn5fu: none; 
      --_m4uu7m: 16px; 
      --_1gue9a6: 24px; 
  } 
  
  .header-row-wrapper  { 
      -webkit-transition: border .5s ease; 
      transition: border .5s ease;
      background-color: white;
  } 
  
  .header-row-wrapper  { 
    background-color: white;
      border-bottom: 1px solid #e4e5e7; 
      width: 100%;
  } 
  
  .max-width-container { 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
      margin: 0; 
      padding: 24px 24px 48px; 
      width: 100%;
  } 
  
  @media only screen and (min-width: 600px){ 
    .max-width-container { 
      margin: 0; 
      padding: 32px 32px 64px;
    } 
  }     
  
  @media only screen and (min-width: 1160px){ 
    .max-width-container { 
      margin: 0 auto; 
      max-width: 1400px;
    } 
  }     
  
  .max-width-container.equal-padding { 
      padding: 24px;
  } 
  
  @media only screen and (min-width: 600px){ 
    .max-width-container.equal-padding { 
      padding: 32px;
    } 
  }     
  
  .header-row  { 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  @media only screen and (min-width: 600px){ 
    .header-row  { 
      padding-bottom: 0; 
      padding-top: 0;
    } 
  }     
  
  .row-main  { 
      -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -ms-flex-line-pack: justify; 
      -webkit-align-content: space-between; 
      align-content: space-between; 
      -webkit-align-items: center; 
      align-items: center; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      -webkit-flex-wrap: wrap; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      -webkit-justify-content: space-between; 
      justify-content: space-between; 
      width: 100%;
  } 
  
  @media only screen and (min-width: 600px){ 
    .row-main  { 
      -webkit-box-pack: start; 
      -ms-flex-pack: start; 
      -ms-flex-line-pack: center; 
      -webkit-align-content: center; 
      align-content: center; 
      -webkit-flex-wrap: nowrap; 
      -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
      height: 80px; 
      -webkit-justify-content: flex-start; 
      justify-content: flex-start;
    } 
  }     
  
  .header-row.row-main  { 
      padding-bottom: 16px; 
      padding-top: 15px;
  } 
  
  @media only screen and (min-width: 600px){ 
    .header-row.row-main  { 
      padding-bottom: 0; 
      padding-top: 0;
    } 
  }     
  
  button { 
      margin: 0; 
      padding: 0;
  } 
  
  button { 
      background: none; 
      border: 0; 
      font: inherit;
  } 
  
  button { 
      cursor: pointer;
  } 
  
  .btn-navicon  { 
      background: none; 
      border: 0; 
      margin-right: 15px; 
      outline: none;
  } 
  
  @media only screen and (min-width: 600px){ 
    .btn-navicon  { 
      margin-top: 0;
    } 
  }     
  
  @media only screen and (min-width: 1160px){ 
    .btn-navicon  { 
      display: none;
    } 
  }     
  
  .btn-navicon  { 
      margin-top: 8px;
  } 
  
  a { 
      text-decoration: none; 
      -webkit-transition: color .2s; 
      transition: color .2s;
  } 
  
  a { 
      color: #1dbf73;
  } 
  
  .site-logo  { 
      -ms-flex-item-align: start; 
      -webkit-align-self: flex-start; 
      align-self: flex-start; 
      display: block; 
      height: 27px; 
      margin: -5px auto; 
      width: 89px;
  } 
  
  @media only screen and (min-width: 600px){ 
    .site-logo  { 
      -ms-flex-item-align: auto; 
      -webkit-align-self: auto; 
      align-self: auto; 
      margin: -4px 32px 0 0;
    } 
  }     
  
  .site-logo  { 
      margin: 4px auto 8px;
  } 
  
  @media only screen and (min-width: 600px){ 
    .site-logo  { 
      height: auto; 
      margin: 4px 0 0; 
      min-width: 121px;
    } 
  }     
  
  a,a:hover { 
      color: #1dbf73;
  } 
  
  a:hover { 
      text-decoration: underline;
  } 
  
  a:active,a:hover { 
      outline: none;
  } 
  
  .fiverr-header-search-animated  { 
      display: none;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-header-search-animated  { 
      -webkit-box-ordinal-group: 1; 
      -ms-flex-order: 0; 
      display: block; 
      margin-top: 0; 
      opacity: 0; 
      -webkit-order: 0; 
      order: 0; 
      -webkit-transition: opacity .25s ease; 
      transition: opacity .25s ease; 
      visibility: hidden; 
      width: 230px;
    } 
  }     
  
  @media only screen and (min-width: 1160px){ 
    .fiverr-header-search-animated  { 
      width: 28%;
    } 
  }     
  
  @media only screen and (min-width: 600px){ 
    .fiverr-header-search-animated.fiverr-header-search-animated-show  { 
      opacity: 1; 
      visibility: visible;
    } 
  }     
  
  .fiverr-header-search-animated.fiverr-header-search-animated-long  { 
      width: 100%;
  } 
  
  nav { 
      border: 0;
  } 
  
  nav { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  nav { 
      display: block;
  } 
  
  .fiverr-nav { 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .fiverr-nav.fiverr-nav-right { 
      margin-left: 16px;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-nav.fiverr-nav-right { 
      -webkit-box-flex: 1; 
      -ms-flex-positive: 1; 
      -webkit-box-pack: end; 
      -ms-flex-pack: end; 
      -webkit-flex-grow: 1; 
      flex-grow: 1; 
      -webkit-justify-content: flex-end; 
      justify-content: flex-end;
    } 
  }     
  
  .fiverr-nav  { 
      margin-left: 0;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-nav  { 
      margin-left: 16px;
    } 
  }     
  
  .fiverr-nav.fiverr-nav-right.nav-with-space { 
      margin-left: 0;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-nav.fiverr-nav-right.nav-with-space { 
      margin-left: 32px;
    } 
  }     
  
  .search-bar-package { 
      position: relative;
  } 
  
  ul { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  ul { 
      list-style: none; 
      list-style-image: none; 
      margin: 0; 
      padding: 0;
  } 
  
  .fiverr-nav > ul  { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -webkit-align-items: center; 
      align-items: center; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      margin-right: -24px;
  } 
  
  form { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  .search-bar-package .search-form  { 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      height: 42px; 
      position: relative;
  } 
  
  li { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  .fiverr-nav > ul > li  { 
      padding: 0 24px 0 0;
  } 
  
  .nav-solution-button  { 
      padding-right: 12px!important;
  } 
  
  .fiverr-nav > ul > li.display-from-md  { 
      display: none;
  } 
  
  @media only screen and (min-width: 900px){ 
    .fiverr-nav > ul > li.display-from-md  { 
      display: block;
    } 
  }     
  
  .fiverr-nav > ul > li.display-from-lg  { 
      display: none;
  } 
  
  @media only screen and (min-width: 1160px){ 
    .fiverr-nav > ul > li.display-from-lg  { 
      display: block;
    } 
  }     
  
  .fiverr-nav > ul > li.display-from-sm  { 
      display: none;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-nav > ul > li.display-from-sm  { 
      display: block;
    } 
  }     
  
  input { 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  input { 
      margin: 0; 
      padding: 0;
  } 
  
  input[type="search"] { 
      -webkit-appearance: none; 
      background-color: #fff; 
      border: 1px solid #c5c6c9; 
      border-radius: 4px; 
      -webkit-box-shadow: none; 
      box-shadow: none; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
      color: #404145; 
      font: inherit; 
      padding: 8px 12px; 
      resize: none; 
      -webkit-transition: .15s ease-in-out; 
      transition: .15s ease-in-out; 
      width: 100%;
  } 
  
  .search-bar-package .search-form input  { 
      -webkit-box-flex: 1; 
      border-color: #dadbdd; 
      border-radius: 4px; 
      -webkit-box-shadow: none; 
      box-shadow: none; 
      -webkit-flex: 1 1 auto; 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      font-size: 16px; 
      padding: 10px 2px 10px 16px; 
      z-index: 3;
  } 
  
  @media only screen and (min-width: 900px){ 
    .search-bar-package .search-form input  { 
      border-radius: 4px 0 0 4px; 
      border-right-width: 0;
    } 
  }     
  
  .search-bar-package .search-form input.long-placeholder  { 
      display: none;
  } 
  
  @media only screen and (min-width: 900px){ 
    .search-bar-package .search-form input.long-placeholder  { 
      display: block;
    } 
  }     
  
  .search-bar-package .search-form.dark input  { 
      border-color: #c5c6c9; 
      color: #62646a;
  } 
  
  @media only screen and (min-width: 900px){ 
    .search-bar-package .search-form input.short-placeholder  { 
      display: none;
    } 
  }     
  
  .co-white { 
      color: #fff;
  } 
  
  .bg-co-green-700 { 
      background-color: #1dbf73;
  } 
  
  .ZQi_S8t { 
      border: 1px solid transparent; 
      border-radius: 4px; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
      cursor: pointer; 
      display: inline-block; 
      font-size: 16px; 
      font-weight: 600; 
      line-height: 100%; 
      padding: 12px 24px; 
      position: relative; 
      text-align: center; 
      text-decoration: none; 
      -webkit-transition: 70ms cubic-bezier(.75,0,.25,1); 
      transition: 70ms cubic-bezier(.75,0,.25,1);
  } 
  
  .search-bar-package .submit-button  { 
      -ms-flex-negative: 0; 
      display: none; 
      -webkit-flex-shrink: 0; 
      flex-shrink: 0; 
      height: inherit;
  } 
  
  @media only screen and (min-width: 900px){ 
    .search-bar-package .submit-button  { 
      display: block; 
      font-size: 14px; 
      font-weight: 700; 
      padding: 8px 16px;
    } 
  }     
  
  .search-bar-package .search-form button  { 
      -ms-flex-negative: 0; 
      display: none; 
      -webkit-flex-shrink: 0; 
      flex-shrink: 0; 
      padding: 8px 16px; 
      z-index: 3;
  } 
  
  @media only screen and (min-width: 900px){ 
    .search-bar-package .search-form button  { 
      border-radius: 0 4px 4px 0; 
      display: block; 
      font-size: 14px; 
      text-shadow: none;
    } 
  }     
  
  .search-bar-package .submit-button.dark-search-button  { 
      background-color: #222325; 
      color: #fff;
  } 
  
  .ZQi_S8t:hover { 
      text-decoration: none;
  } 
  
  .ZQi_S8t.AOOSxop:hover { 
      background: #19a463;
  } 
  
  .search-bar-package .submit-button.dark-search-button:active, .search-bar-package .submit-button.dark-search-button:hover { 
      background-color: #404145;
  } 
  
  ._xwb3qf { 
      box-sizing: var(--_m1bvvx);
  } 
  
  ._bbx8bt { 
      height: var(--_1pby9d0);
  } 
  
  ._1cqntcm { 
      max-width: var(--_b76upw);
  } 
  
  ._1j0waez { 
      width: var(--_bbc97y);
  } 
  
  .tmELUJj { 
      display: -webkit-inline-box; 
      display: -webkit-inline-flex; 
      display: -ms-inline-flexbox; 
      display: inline-flex;
  } 
  
  .tmELUJj.DX8eVtZ { 
      position: relative;
  } 
  
  .fiverr-nav .lean-locale-settings  { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -webkit-align-items: center; 
      align-items: center; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .fiverr-nav ul li .nav-link  { 
      color: #74767e; 
      font-weight: 600; 
      text-decoration: none; 
      white-space: nowrap;
  } 
  
  .fiverr-nav ul li .nav-link  { 
      color: #62646a;
  } 
  
   .fiverr-header .fiverr-nav ul li .nav-link:hover { 
      color: #1dbf73;
  } 
  
  .fiverr-header .fiverr-nav ul li .nav-label.nav-link-green, .fiverr-header .fiverr-nav ul li .nav-label:hover, .fiverr-header .fiverr-nav ul li .nav-link.nav-link-green, .fiverr-header .fiverr-nav ul li .nav-link:hover { 
      color: #1dbf73;
  } 
  
  .co-green-700 { 
      color: #1dbf73;
  } 
  
  .ZQi_S8t.MHWZydm { 
      font-size: 14px; 
      padding: 10px 16px;
  } 
  
  .ZQi_S8t.a1WZUBV { 
      background: none; 
      border-color: currentColor;
  } 
  
  a.fiverr-header-join  { 
      -webkit-transition: color .5s ease,border .5s ease; 
      transition: color .5s ease,border .5s ease;
  } 
  
  .fiverr-nav ul li a.fiverr-header-join  { 
      -webkit-transition: all .2s ease; 
      transition: all .2s ease;
  } 
  
  @media only screen and (min-width: 600px){ 
    .fiverr-nav ul li a.fiverr-header-join  { 
      font-weight: 700;
    } 
  }     
  
  .ZQi_S8t.a1WZUBV:active,.ZQi_S8t.a1WZUBV:hover { 
      border-color: transparent; 
      color: #fff;
  } 
  
  .ZQi_S8t[href]:active,.ZQi_S8t[href]:hover { 
      color: #fff;
  } 
  
  .search-bar-package .submit-button-icon  { 
      fill: #fff; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  ._rfvr5h { 
      font-weight: var(--_1p6zccl);
  } 
  
  ._1wz9bvu { 
      white-space: var(--_w3rwa7);
  } 
  
  ._1c589if { 
      cursor: var(--_1no7twd);
  } 
  
  ._1gikrw { 
      user-select: var(--_ejn5fu);
  } 
  
  ._1gsjsn { 
      border-style: var(--_11kzg63);
  } 
  
  ._wn6ayh { 
      border-radius: var(--_5xced5);
  } 
  
  ._111lpq9 { 
      padding-bottom: var(--_1m8lapw);
  } 
  
  ._1okhn7y { 
      padding-left: var(--_1byk5fl);
  } 
  
  ._18r2w7o { 
      padding-right: var(--_1byk5fl);
  } 
  
  ._14tu4wf { 
      padding-top: var(--_1m8lapw);
  } 
  
  ._1oo2ptx { 
      gap: var(--_1m8lapw);
  } 
  
  ._1c76ira { 
      border-width: var(--_u9qp6v);
  } 
  
  ._tahe4z { 
      justify-content: var(--_viysix);
  } 
  
  ._1vhtrtc { 
      align-items: var(--_1x9qrrf);
  } 
  
  ._k8qrp0 { 
      display: var(--_93jqtq);
  } 
  
  ._1evk1n4 { 
      line-height: var(--_1gue9a6);
  } 
  
  ._iydwzd { 
      font-size: var(--_m4uu7m);
  } 
  
  ._lgsqor { 
      position: var(--_5dap9z);
  } 
  
  ._s5kcln { 
      text-decoration: var(--_13nofqa);
  } 
  
  ._1xeo152 { 
      transition: var(--_ggbluw);
  } 
  
  ._ifhvih { 
      color: var(--_1n3gzs);
  } 
  
  ._8wb4qe { 
      background-color: var(--_1mrllc7);
  } 
  
  ._188cbt6 { 
      border-color: var(--_194gsmy);
  } 
  
  ._1i3bicu { 
      flex-shrink: var(--_1obvz9o);
  } 
  
  [role="button"],button { 
      cursor: pointer;
  } 
  
  .rwqXLVG { 
      border: none; 
      width: -webkit-max-content; 
      width: -moz-max-content; 
      width: max-content;
  } 
  
  ._qmruls:hover,._s5kcln { 
      text-decoration: var(--_13nofqa);
  } 
  
  ._1c0wtg6:hover { 
      background-color: var(--_1wvocul);
  } 
  
  span { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  .tmELUJj .vpfXdaJ  { 
      display: -webkit-inline-box; 
      display: -webkit-inline-flex; 
      display: -ms-inline-flexbox; 
      display: inline-flex;
  } 
  
  .tmELUJj .vpfXdaJ  { 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  .tmELUJj.Z_rWxb2 > .vpfXdaJ  { 
      cursor: pointer; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
  } 
  
  .flex { 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .flex-items-center { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -webkit-align-items: center; 
      align-items: center;
  } 
  
  .y2EinTV { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -webkit-box-pack: center; 
      -ms-flex-pack: center; 
      -webkit-align-items: center; 
      align-items: center; 
      background: none; 
      border: 1px solid transparent; 
      border-radius: 8px; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
      color: #62646a; 
      cursor: pointer; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      font-size: 16px; 
      font-weight: 600; 
      gap: 8px; 
      -webkit-justify-content: center; 
      justify-content: center; 
      line-height: 24px; 
      padding: 8px 16px;
  } 
  
  .y2EinTV:hover { 
      background-color: #fafafa;
  } 
  
  section { 
      border: 0;
  } 
  
  section { 
      border: 0; 
      margin: 0; 
      outline: 0; 
      padding: 0;
  } 
  
  section { 
      display: block;
  } 
  
  .nFghBOe { 
      fill: #74767e; 
      background: none; 
      border: none; 
      display: inline-block; 
      margin: 0; 
      padding: 0;
  } 
  
  .T68oVsb { 
      -webkit-transition: .15s ease-in-out; 
      transition: .15s ease-in-out;
  } 
  
  .text-body-2 { 
      font-size: 14px; 
      line-height: 21px;
  } 
  
  .locale-settings-package .language-selection-trigger  { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      -webkit-align-items: center; 
      align-items: center; 
      background: none; 
      border: none; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .locale-settings-package .language-selection-trigger.lean-menu  { 
      font-size: 16px; 
      line-height: 24px;
  } 
  
  .fiverr-nav .lean-locale-settings .locale-settings-link-title  { 
      fill: #74767e; 
      color: #74767e; 
      font-weight: 600;
  } 
  
  .fiverr-nav .locale-settings-link .locale-settings-link-title ,.fiverr-nav .locale-settings-link .selection-trigger  { 
      fill: #62646a; 
      color: #62646a;
  } 
  
  .locale-settings-package .language-selection-trigger.lean-menu:hover { 
      color: #1dbf73;
  } 
  
  .locale-settings-package .language-selection-trigger.lean-menu:hover, .locale-settings-package .language-selection-trigger.menu:hover { 
      color: #1dbf73;
  } 
  
  .fiverr-header .fiverr-nav .lean-locale-settings .locale-settings-link-title:hover { 
      fill: #1dbf73; 
      color: #1dbf73;
  } 
  
  .logged-out-homepage-header.fiverr-header .fiverr-nav .locale-settings-link .locale-settings-link-title:hover, .logged-out-homepage-header.fiverr-header .fiverr-nav .locale-settings-link .selection-trigger:hover { 
      fill: #1dbf73; 
      color: #1dbf73;
  } 
  
  .nFghBOe svg  { 
      float: left; 
      height: 100%; 
      width: 100%;
  } 
  
  .iqNcR9P { 
      -webkit-transition: .15s ease-in-out; 
      transition: .15s ease-in-out;
  } 
  
  .locale-settings-package .language-selection-trigger .trigger-icon  { 
      fill: #74767e; 
      padding-right: 8px;
  } 
  
  .locale-settings-package .language-selection-trigger.lean-menu:hover .trigger-icon { 
      fill: #1dbf73;
  } 
  
  .locale-settings-package .language-selection-trigger.lean-menu:hover .trigger-icon, .locale-settings-package .language-selection-trigger.menu:hover .trigger-icon { 
      fill: #1dbf73;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-3DKOA.style-3DKOA {  
     --_1pby9d0:fit-content;  
     --_b76upw:100%;  
     --_bbc97y:fit-content;  
  }  
  #style-KpoMs.style-KpoMs {  
     --_h3rpcu:var(--_j43zxf);  
     --_ggbluw:var(--_pnxpi6) var(--_8xt2k);  
     --_1obvz9o:0;  
     --_194gsmy:var(--_1lxhd37);  
     --_1mrllc7:var(--_1lxhd37);  
     --_1wvocul:var(--_kvnz26);  
     --_12wrrwv:var(--_14yxrq6);  
     --_1n3gzs:var(--_j43zxf);  
  }  
  #style-ocg3M.style-ocg3M {  
     width:12px;  
     height:12px;  
  }  
  #style-x15OK.style-x15OK {  
     width:12px;  
     height:12px;  
  }  
  #style-88Y41.style-88Y41 {  
     width:16px;  
     height:16px;  
  }  
  
  
  @font-face { 
  font-display:swap;
  font-family:Macan;
  font-style:normal;
  font-weight:300;
  src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.eot);
  src:local("Macan-Light"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-light.woff) format("woff");
} 
@font-face { 
  font-display:swap;
  font-family:Macan;
  font-style:normal;
  font-weight:400;
  src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.eot);
  src:local("Macan-Regular"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-regular.woff) format("woff");
} 
@font-face { 
  font-display:swap;
  font-family:Macan;
  font-style:normal;
  font-weight:600;
  src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.eot);
  src:local("Macan-Semibold"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-semibold.woff) format("woff");
} 
@font-face { 
  font-display:swap;
  font-family:Macan;
  font-style:normal;
  font-weight:700;
  src:url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.eot);
  src:local("Macan-Bold"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.eot) format("embedded-opentype"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.woff2) format("woff2"),url(https://npm-assets.fiverrcdn.com/assets/uploads/macan-bold.woff) format("woff");
} 
  body {  
    color:#62646a;
    font:400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
  }  
div { 
    border: 0;
} 

div  { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

body { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

body { 
    background-color: #fff; 
    color: #62646a; 
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif; 
    position: relative; 
    width: 100%;
} 

html { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

html { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    height: 100%;
} 

button { 
    margin: 0; 
    padding: 0;
} 

button { 
    background: none; 
    border: 0; 
    font: inherit;
} 

button { 
    cursor: pointer;
} 

nav { 
    border: 0;
} 

nav { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

nav { 
    display: block;
} 

.categories-menu-package { 
    position: relative; 
    width: 100%;
} 

.categories-menu-wrapper .categories-menu-package  { 
    background-color: #fff; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    margin: 0 auto; 
    max-width: 1400px;
} 

@media only screen and (min-width: 1160px){ 
  .categories-menu-wrapper .categories-menu-package  { 
    padding: 0 32px;
  } 
}     

.categories-menu-package.has-overflow.has-overflow-vertical { 
    border-bottom: 1px solid #e4e5e7; 
    height: 40px;
} 

.categories-menu-wrapper { 
    background: #fff; 
    display: none; 
    width: 100%;
} 

@media only screen and (min-width: 600px){ 
  .categories-menu-wrapper { 
    display: block; 
    opacity: 0; 
    -webkit-transform: rotateX(90deg); 
    transform: rotateX(90deg);
  } 
}     

.categories-menu-wrapper { 
    background-color: #fff; 
    display: none;
} 

@media only screen and (min-width: 600px){ 
  .categories-menu-wrapper { 
    border-bottom: 1px solid #e4e5e7; 
    display: block;
  } 
}     

.categories-menu-wrapper.shown { 
    border-bottom: 1px solid #e4e5e7; 
    background-color: white;
    opacity: 1; 
    -webkit-transform: rotateX(0deg); 
    transform: rotateX(0deg); 
    -webkit-transition: -webkit-transform .2s; 
    transition: -webkit-transform .2s; 
    transition: transform .2s; 
    transition: transform .2s,-webkit-transform .2s;
} 

ul { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

ul { 
    list-style: none; 
    list-style-image: none; 
    margin: 0; 
    padding: 0;
} 

.categories-menu-package .categories  { 
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-justify-content: space-between; 
    justify-content: space-between; 
    margin: 0 auto; 
    max-width: 1400px; 
    padding: 0;
} 

.categories-menu-package.has-overflow ul.categories  { 
    overflow: hidden;
} 

li { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

.categories-menu-package .categories > li  { 
    -ms-flex-negative: 0; 
    display: inline-block; 
    -webkit-flex-shrink: 0; 
    flex-shrink: 0; 
    padding: 0 10px;
} 

@media only screen and (min-width: 600px){ 
  .categories-menu-package .categories > li:first-child  { 
    padding-left: 30px;
  } 
}     

@media only screen and (min-width: 1160px){ 
  .categories-menu-package .categories > li:first-child  { 
    padding-left: 0;
  } 
}     

@media only screen and (min-width: 600px){ 
  .categories-menu-package .categories > li:last-child  { 
    padding-right: 30px;
  } 
}     

@media only screen and (min-width: 1160px){ 
  .categories-menu-package .categories > li:last-child  { 
    padding-right: 0;
  } 
}     

span { 
    border: 0; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

.nFghBOe { 
    fill: #74767e; 
    background: none; 
    border: none; 
    display: inline-block; 
    margin: 0; 
    padding: 0;
} 

.categories-menu-package button:not(.agencies-banner-cta)  { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
    background: -webkit-gradient(linear,left top,right top,color-stop(50%,#fff),to(hsla(0,0%,100%,0))); 
    background: linear-gradient(90deg,#fff 50%,hsla(0,0%,100%,0)); 
    border: none; 
    color: #62646a; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    font-size: 10px; 
    height: 100%; 
    -webkit-justify-content: center; 
    justify-content: center; 
    position: absolute; 
    width: 65px; 
    z-index: 1;
} 

.categories-menu-package button:not(.agencies-banner-cta).right  { 
    background: -webkit-gradient(linear,right top,left top,color-stop(50%,#fff),to(hsla(0,0%,100%,0))); 
    background: linear-gradient(270deg,#fff 50%,hsla(0,0%,100%,0)); 
    right: 0;
} 

.nFghBOe svg  { 
    float: left; 
    height: 100%; 
    width: 100%;
} 

a { 
    text-decoration: none; 
    -webkit-transition: color .2s; 
    transition: color .2s;
} 

a { 
    color: #1dbf73;
} 

.categories-menu-package a  { 
    color: #62646a; 
    display: block; 
    font-size: 16px; 
    line-height: 24px; 
    padding: 8px 0; 
    position: relative; 
    text-decoration: none;
} 

@media only screen and (min-width: 1160px){ 
  .categories-menu-package .categories > li:first-child > a  { 
    padding-left: 0;
  } 
}     

a,a:hover { 
    color: #1dbf73;
} 

a:hover { 
    text-decoration: underline;
} 

a:active,a:hover { 
    outline: none;
} 

.categories-menu-package a:hover { 
    color: #62646a; 
    text-decoration: none;
} 

@media only screen and (min-width: 600px){ 
  .categories-menu-package a:hover { 
    color: #74767e;
  } 
}     

.categories-menu-package .categories > li > a:hover { 
    text-decoration: none;
} 

.categories-menu-package .categories > li:hover > a::after, .categories-menu-package .categories > li:hover > p::after { 
    background: #1dbf73; 
    bottom: 0; 
    content: ""; 
    height: 3px; 
    left: 0; 
    position: absolute; 
    width: 100%; 
    z-index: 1;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-6hSYv.style-6hSYv {  
   width: 15px;  
    height: 15px;  
    fill: rgb(122, 125, 133);  
}  
#style-XpyTq.style-XpyTq {  
   pointer-events: auto;  
}  
#style-iYSU3.style-iYSU3 {  
   pointer-events: auto;  
}  
#style-FYfAp.style-FYfAp {  
   pointer-events: auto;  
}  
#style-obBpM.style-obBpM {  
   pointer-events: auto;  
}  
#style-6EC2g.style-6EC2g {  
   pointer-events: auto;  
}  
#style-qMhJw.style-qMhJw {  
   pointer-events: auto;  
}  
#style-i3QVU.style-i3QVU {  
   pointer-events: auto;  
}  
#style-TOozi.style-TOozi {  
   pointer-events: auto;  
}  
#style-47rcZ.style-47rcZ {  
   pointer-events: auto;  
}  
#style-yHMTB.style-yHMTB {  
   pointer-events: none;  
}  
#style-9YDve.style-9YDve {  
   pointer-events: none;  
}  
#style-eXdLm.style-eXdLm {  
   pointer-events: none;  
}  
#style-TJrOC.style-TJrOC {  
   pointer-events: none;  
}  
